---
apiVersion: mongodb.com/v1
kind: MongoDBOpsManager
metadata:
  name: ops-manager
  namespace: mongodb
spec:
  replicas: 1
  version: 8.0.7
  adminCredentials: ops-manager-credentials-secret
  applicationDatabase:
    members: 3
    version: 8.0.7
    podSpec:
      persistence:
        single:
          storage: 30Gi
          storageClass: ssd-perf-xfs-r1
      podTemplate:
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: beta.kubernetes.io/arch
                        operator: In
                        values:
                          - amd64
  statefulSet:
    spec:
      template:
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: beta.kubernetes.io/arch
                        operator: In
                        values:
                          - amd64
  externalConnectivity:
    type: ClusterIP
    port: 8080
  backup:
    enabled: true
    headDB:
      storage: 30Gi
      storageClass: ssd-perf-r3
