---
clusterName: homelab
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.5
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.2
endpoint: https://192.168.95.10:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalApiServerCertSans:
  - homelab.lan
nodes:
  - hostname: tcpl-01
    ipAddress: 192.168.95.21
    controlPlane: true
    nodeLabels:
      storage/linstor-ssd-device: sdb
      network/uplink: 10G
    schematic:
      customization:
        extraKernelArgs:
          - vga=0x31b
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
            - siderolabs/qemu-guest-agent
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/metal-installer/21ac916f042279b36bd6f8dd5b2b83d4352cca9354a05fd67a0cc55c3f2560ca
    networkInterfaces:
      - interface: ens18
        dhcp: true
        mtu: 1500
        vip: &vip
          ip: 192.168.95.10
      - interface: ens19
        dhcp: false
        mtu: 9000
        addresses:
          - "192.168.91.21/24"
        routes: &san
          - network: 192.168.91.0/24
  - hostname: tcpl-02
    ipAddress: 192.168.95.22
    controlPlane: true
    nodeLabels:
      storage/linstor-ssd-device: sdb
      network/uplink: 2.5G
    schematic:
      customization:
        extraKernelArgs:
          - vga=0x31b
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
            - siderolabs/qemu-guest-agent
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/metal-installer/21ac916f042279b36bd6f8dd5b2b83d4352cca9354a05fd67a0cc55c3f2560ca
    networkInterfaces:
      - interface: ens18
        dhcp: true
        mtu: 1500
        vip: *vip
      - interface: ens19
        dhcp: false
        mtu: 9000
        addresses:
          - "192.168.91.22/24"
        routes: *san
  - hostname: tcpl-03
    ipAddress: 192.168.95.23
    controlPlane: true
    nodeLabels:
      storage/linstor-ssd-device: sdb
      network/uplink: 10G
    schematic:
      customization:
        extraKernelArgs:
          - vga=0x31b
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
            - siderolabs/qemu-guest-agent
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/metal-installer/21ac916f042279b36bd6f8dd5b2b83d4352cca9354a05fd67a0cc55c3f2560ca
    networkInterfaces:
      - interface: ens18
        dhcp: true
        mtu: 1500
        vip: *vip
      - interface: ens19
        dhcp: false
        mtu: 9000
        addresses:
          - "192.168.91.23/24"
        routes: *san
  - hostname: tcpl-04
    ipAddress: 192.168.95.24
    controlPlane: true
    nodeLabels:
      storage/linstor-ssd-device: sdb
      network/uplink: 2.5G
    schematic:
      customization:
        extraKernelArgs:
          - vga=0x31b
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
            - siderolabs/qemu-guest-agent
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/metal-installer/21ac916f042279b36bd6f8dd5b2b83d4352cca9354a05fd67a0cc55c3f2560ca
    networkInterfaces:
      - interface: ens18
        dhcp: true
        mtu: 1500
        vip: *vip
      - interface: ens19
        dhcp: false
        mtu: 9000
        addresses:
          - "192.168.91.24/24"
        routes: *san
  - hostname: tworker-01
    ipAddress: 192.168.95.31
    controlPlane: false
    nodeLabels:
      storage/linstor-ssd-device: nvme0n1
      network/uplink: 1G
    schematic:
      overlay:
        image: siderolabs/sbc-rockchip
        name: rockpi4
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
    installDisk: /dev/mmcblk1
    talosImageURL: factory.talos.dev/metal-installer/c3b3240808b320b2c562a6dcc75f15dc5fb45588240bf189a52525a956ecac03
    networkInterfaces:
      - interface: end0
        dhcp: false
        vlans:
          - vlanId: 95
            dhcp: true
          - vlanId: 91
            dhcp: false
            addresses:
              - "192.168.91.31/24"
            routes: *san
  - hostname: tworker-02
    ipAddress: 192.168.95.32
    controlPlane: false
    nodeLabels:
      storage/linstor-ssd-device: nvme0n1
      network/uplink: 1G
    schematic:
      overlay:
        image: siderolabs/sbc-rockchip
        name: rockpi4
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/drbd
            - siderolabs/nvme-cli
    installDisk: /dev/mmcblk1
    talosImageURL: factory.talos.dev/metal-installer/c3b3240808b320b2c562a6dcc75f15dc5fb45588240bf189a52525a956ecac03
    networkInterfaces:
      - interface: end0
        dhcp: false
        vlans:
          - vlanId: 95
            dhcp: true
          - vlanId: 91
            dhcp: false
            addresses:
              - "192.168.91.32/24"
            routes: *san
patches:
  - "@./patches/000-kubelet-patch.yaml"
  - "@./patches/001-timesync-delay-patch.yaml"
worker:
  kernelModules:
    - name: drbd
      parameters:
          - usermode_helper=disabled
    - name: drbd_transport_tcp
    - name: dm-thin-pool
  # patches:
  #   - "@./patches/worker/000-new-patch.yaml"
controlPlane:
  kernelModules:
    - name: drbd
      parameters:
          - usermode_helper=disabled
    - name: drbd_transport_tcp
    - name: dm-thin-pool
  patches:
    - "@./patches/controlPlane/000-metrics-listen-patch.yaml"
    - "@./patches/controlPlane/001-timesync-ptp-patch.yaml"
