---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 5m
  timeout: 5m
  chart:
    spec:
      chart: grafana
      version: 21.10.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                GF_SECURITY_ADMIN_USER:
                  secretKeyRef:
                    name: grafana-admin-secret
                    expandObjectName: false
                    key: user
                GF_SECURITY_ADMIN_PASSWORD:
                  secretKeyRef:
                    name: grafana-admin-secret
                    expandObjectName: false
                    key: password
    ingress:
      main:
        enabled: true
        ingressClassName: &ingressClass traefik-internal
        annotations:
          kubernetes.io/ingress.class: *ingressClass
          uptime-kuma.autodiscovery.probe.name: "Grafana"
        hosts:
          - host: grafana.clsn.dev
            paths:
              - path: /
                pathType: Prefix
    persistence:
      data:
        enabled: true
        size: 2Gi
        storageClass: ssd-perf-r3 
    cnpg:
      main:
        cluster:
          storage:
            size: "5Gi"
            storageClass: ssd-perf-r1
          walStorage:
            size: "2Gi"
            storageClass: ssd-perf-r1
        monitoring:
          enablePodMonitor: true
    dashboards:
      grafana:
        flux-cluster:
          enabled: true
        flux-control-plane:
          enabled: true
        metallb:
          enabled: true
        cert-manager:
          enabled: true
        traefik:
          enabled: true
        opnsense-exporter:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS-K0}"
              value: Prometheus
          marketplace:
            id: 21113
            revision: 1
        truenas-overview:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_MIMIR}"
              value: Prometheus
          url: https://raw.githubusercontent.com/Supporterino/truenas-graphite-to-prometheus/refs/heads/main/dashboards/truenas_scale.json
        truenas-apps:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://raw.githubusercontent.com/Supporterino/truenas-graphite-to-prometheus/refs/heads/main/dashboards/truenas_scale_applications_k3s.json
        truenas-cgroups:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_MIMIR}"
              value: Prometheus
          url: https://raw.githubusercontent.com/Supporterino/truenas-graphite-to-prometheus/refs/heads/main/dashboards/truenas_scale_cgroups.json
        truenas-disks:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_MIMIR}"
              value: Prometheus
          url: https://raw.githubusercontent.com/Supporterino/truenas-graphite-to-prometheus/refs/heads/main/dashboards/truenas_scale_disk_insights.json
        truenas-temps:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://raw.githubusercontent.com/Supporterino/truenas-graphite-to-prometheus/refs/heads/main/dashboards/truenas_scale_temperatures.json
